{% extends 'base.html.twig' %}

{% block title %}BOOKING | Mon panier{% endblock %}

{% block body %}

  <h1 class="my-3">Votre panier</h1>

  {% if panierAchat | length > 0 or panierLocation | length > 0 %}
    <table class="table">
      <tbody>
        <thead>
          <tr class="text-center">
            <th scope="col">Titre</th>
            <th scope="col">Prix achat</th>
            <th scope="col">Prix location</th>
            <th scope="col">Quantité</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>

        {% for item in panierAchat %}
          <tr>
            <td class="text-left col-8"><img class="img-fluid col-2" src="img/photo/{{ item.book.photo }}"><a href="{{ path('book', {'id': item.book.getId }) }}" class="btn btn-link text-body">{{ item.book.title }}</a></td>
            <td class="text-center col-1 align-middle text-nowrap">{{ item.book.soldPrice }} €</td>
            <td class="text-center col-1 align-middle"></td>
            <td class="text-center col-1 align-middle">
            <div class="d-flex">

              <a href="{{ path('add_remove', {'id' : item.book.id}) }}" class="btn btn-link text-primary align-bottom" title="Retirer" onclick="clickAndDisable(this);"><i class="fas fa-minus"></i></a>

              <span class="mx-1 mt-2 align-bottom">{{ item.quantity }}</span>
                {% if item.book.getStock > 0 %}
              <a href="{{ path('cart_add', {'id' : item.book.id}) }}" class="btn btn-link text-primary"title="Ajouter" onclick="clickAndDisable(this);"><i class="fas fa-plus"></i></a>
              {% else %}
                <span class="btn btn-link text-dark"title="Ajouter"><i class="fas fa-plus"></i></span>
                {% endif %}
                  </div>
            </td>
            <td class="text-center col-1 align-middle text-nowrap">{{ item.book.soldPrice * item.quantity }} €</td>
            <td class="align-middle">
                <a href="{{ path('cart_remove', {'id': item.book.id}) }}" class="btn btn-link text-danger" title="Supprimer" onclick="clickAndDisable(this);"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
        {% for item in panierLocation %}
          <tr>
            <td class="text-left col-8"><img class="img-fluid col-2" src="img/photo/{{ item.book.photo }}"><a href="{{ path('book', {'id': item.book.getId }) }}" class="btn btn-link text-body">{{ item.book.title }}</a></td>
            <td class="text-center col-1 align-middle"></td>
            <td class="text-center col-1 align-middle text-nowrap">{{ item.book.rentPrice }} €</td>
            <td class="text-center col-1 align-middle">
              <a href="{{ path('rent_remove', {'id' : item.book.id}) }}" class="btn btn-link text-primary" title="Retirer" onclick="clickAndDisable(this);"><i class="fas fa-minus"></i><a>
              <span class="mx-1">{{ item.quantityRent }}</span>
              {% if item.book.getStock > 0 %}
            <a href="{{ path('cart_rent', {'id' : item.book.id}) }}" class="btn btn-link text-primary"title="Ajouter" onclick="clickAndDisable(this);"><i class="fas fa-plus"></i></a>
            {% else %}
              <span class="btn btn-link text-dark"title="Ajouter"><i class="fas fa-plus"></i></span>
              {% endif %}
            </td>
            <td class="text-center col-1 align-middle text-nowrap">{{ item.book.rentPrice * item.quantityRent }} €</td>
            <td class="align-middle">
                <a href="{{ path('cart_removeRent', {'id': item.book.id}) }}" class="btn btn-link text-danger" title="Supprimer" onclick="clickAndDisable(this);"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>

          <td colspan="3" class="text-right font-weight-bold">Total :</td>
          <td class="text-center col-2 align-middle font-weight-bold text-nowrap">{{ total }} €</td>
        </tr>
      </tfoot>
    </table>
          <hr>
    <div class="container-fluid d-flex my-5">
          <a href="{{ path('bookBuy')}}" class="btn btn-primary m-auto" title="Fais chauffer la CB !" onclick="clickAndDisable(this);">Valider ma commande</a>
    </div>


  {% else %}
    <p>... est vide !</p>
  {% endif %}

{% endblock %}
