{% extends 'base.html.twig' %}

{% block title %}BOOKING |
  {{ book.getTitle }}
{% endblock %}

{% block body %}

  <section class="book d-flex column my-5">

    <div class="col-4">
      <img class="w-100" src="../img/photo/{{ book.getPhoto }}" alt="Couverture du livre">
    </div>

    <article class="my-3">

      <h2>{{ book.getTitle }}</h2>
      <div class="metadata">
        <u>Référence :</u>
        {{ book.getRef}}</div>
      <div class="metadata">
        <u>Catégorie :</u>
        {{ book.getCategory}}</div>
      <div class="metadata">
        <u>Stock disponible :</u>
        {{ book.getStock}}</div>

      <div class="content row my-3">
        <div class="col column">
          <p>{{ book.getDescription | raw }}
            <p>

              {% if app.user and book.getStock > 0 %}
                <a href="{{ path('cart_add', {'id': book.getId,}) }}" class="btn btn-primary my-5">Acheter ce livre pour
                  {{ book.getSoldPrice }}
                  €</a>

                <span class="mx-3 font-italic">ou</span>
                <a href="{{ path('cart_rent', {'id': book.getId}) }}" class="btn btn-primary my-5">Louer ce livre pour
                  {{ book.getRentPrice }}
                  € par semaine</a>

              {% elseif app.user and book.getStock <= 0 %}
                <a href="{{ path('books') }}" class="btn btn-primary my-5">Désolé, ce livre est actuellement épuisé</a>

              {% else %}
                <a href="{{ path('app_login', {'book': book.getId }) }}" class="btn btn-primary my-5">Connectez-vous pour acheter ou louer ce livre</a>

              {% endif %}
            </div>
          </div>

          <hr>
        </article>

      </section>

    {% endblock %}
