{% extends 'base.html.twig' %}

{% block title %}Hello BookListController!{% endblock %}

{% block body %}
<table class="table">

<thead>


  <td scope='col'>Titre du livre</td>
  <td scope='col'>Categorie</td>
  <td scope='col'>Prix achat</td>
  <td scope='col'>Date achat</td>
  <td scope='col'>Prix Location</td>
  <td scope='col'>Date location</td>
  <td scope='col'>Date de retour</td>


</thead>


{% for customerFlow in customerFlows %}

<tr>



<td>{{ customerFlow.book.title }}</td>
<td> {{ customerFlow.book.category}}</td>



{% if customerFlow.flow.rentDate == NULL %}
<td>{{ customerFlow.book.soldPrice}} €</td>
<td>{{ customerFlow.flow.buyDate|date('Y-m-d')}}</td>
<td></td>
<td></td>
<td></td>

{% else %}
<td></td>
<td></td>
<td>{{ customerFlow.book.rentPrice}} €</td>
<td>{{ customerFlow.flow.rentDate|date('Y-m-d')}}</td>
<td>{{ customerFlow.flow.returnDate|date('Y-m-d')}}</td></tr>
{% endif %}
{% endfor %}

</table>
{% endblock %}
